@import "size";

:root {
  --page-content-padding: 40px;

  @include for-tb-down {
    --page-content-padding: 20px;
  }

  @include for-ip-down {
    --page-content-padding: 10px;
  }

  /* colors */
  --color-text: #404040;
  --color-main: #ff8c17;

  /* page sizes */
  --size-desktop: 1200px;
  --size-tablet: 768px;
  --size-mobile: 320px;

  /* transitions */
  --transition-duration-short: 200ms;
  --transition-duration-fast: 350ms;

  /* font-family */
  --font-family-inter: 'Inter', sans-serif;
}
