[class*=__container] {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: 1450px) {
    max-width: 1920px;
  }
  @media (min-width: 2000px) {
    max-width: unset;
  }
}

.page-content {
  margin-top: 56px;
  padding-top: 20px;
}

.ibg {
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ibg-icon {
  position: relative;
  border-radius: 50% !important;
  overflow: hidden;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ibg-border-icon {
  position: relative;
  border-radius: 4px !important;
  overflow: hidden;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
