.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  > * {
    min-width: 0;
  }

  &__inner {
    display: flex;
    flex: 1;
  }

  &__inner-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: margin-left 0.3s ease 0s;

    @media (min-width: 991.98px) {
      margin-left: 57px;
    }
  }
}
